### Red neuronal para predecir el ganador de un duelo en el juego League ogf Legends

In [3]:
import numpy as np
import pandas as pd
import sklearn

In [4]:
data = pd.read_csv("games.csv", sep=";")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50286 entries, 0 to 50285
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gameDuration        50286 non-null  int64
 1   firstBlood          50286 non-null  int64
 2   firstTower          50286 non-null  int64
 3   firstInhibitor      50286 non-null  int64
 4   firstBaron          50286 non-null  int64
 5   firstDragon         50286 non-null  int64
 6   firstRiftHerald     50286 non-null  int64
 7   t1_towerKills       50286 non-null  int64
 8   t1_inhibitorKills   50286 non-null  int64
 9   t1_baronKills       50286 non-null  int64
 10  t1_dragonKills      50286 non-null  int64
 11  t1_riftHeraldKills  50286 non-null  int64
 12  t2_towerKills       50286 non-null  int64
 13  t2_inhibitorKills   50286 non-null  int64
 14  t2_baronKills       50286 non-null  int64
 15  t2_dragonKills      50286 non-null  int64
 16  t2_riftHeraldKills  50286 non-null  int64
 17  winner              50286 non-null  int64
dtypes: int64(18)
memory usage: 6.9 MB

In [12]:
data.head(30)

,gameDuration,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_towerKills,t1_inhibitorKills,t1_baronKills,t1_dragonKills,t1_riftHeraldKills,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,winner
0,1949,2,1,1,1,1,2,11,1,2,3,0,5,0,0,1,1,1
1,1851,1,1,1,0,1,1,10,4,0,2,1,2,0,0,0,0,1
2,1493,2,1,1,1,2,0,8,1,1,1,0,2,0,0,1,0,1
3,1758,1,1,1,1,1,0,9,2,1,2,0,0,0,0,0,0,1
4,2094,2,1,1,1,1,0,9,2,1,3,0,3,0,0,1,0,1
5,2059,2,2,1,1,2,0,8,1,1,1,0,6,0,0,3,0,1
6,1993,1,2,1,1,1,1,10,2,1,2,1,2,0,0,0,0,1
7,1334,1,1,0,0,2,1,6,0,0,0,1,0,0,0,2,0,1
8,1387,2,2,2,0,2,2,0,0,0,0,0,8,1,0,2,1,2
9,2681,2,2,2,2,2,0,10,1,0,2,0,8,3,1,2,0,2
10,1391,2,2,2,2,2,2,0,0,0,1,0,10,2,1,1,1,2
11,1671,1,2,1,0,2,1,10,1,0,0,1,2,0,0,2,0,1
12,2071,1,1,0,1,2,1,6,0,1,2,1,3,0,0,1,0,1
13,1942,2,2,1,0,1,0,7,1,0,1,0,3,0,0,2,0,1
14,2374,2,2,1,1,2,0,8,1,1,2,0,9,2,0,2,0,2
15,1717,2,1,1,0,1,0,7,1,0,2,0,0,0,0,0,0,1
16,2390,2,2,2,2,2,0,3,0,0,1,0,9,3,2,4,0,2
17,1994,2,1,1,1,1,1,11,6,1,2,1,2,0,0,0,0,1
18,1513,1,2,2,0,2,0,0,0,0,0,0,11,3,0,2,0,2
19,1898,1,2,2,2,1,1,4,0,0,3,1,11,2,1,1,0,2
20,2026,1,1,1,2,1,2,5,1,0,1,0,11,3,1,2,1,2
21,1962,1,2,2,2,1,0,2,0,0,1,0,9,1,1,2,0,2
22,1511,1,2,2,0,2,0,2,0,0,0,0,10,2,0,2,0,2
23,1756,1,1,1,1,1,1,11,3,1,3,1,2,0,0,0,0,1
24,2173,2,2,2,0,1,0,2,0,0,1,0,11,3,0,0,0,2
25,2211,2,2,2,0,2,1,2,0,0,0,1,10,2,0,3,0,2
26,2472,2,2,1,1,2,2,10,3,1,2,0,10,2,1,3,1,2
27,1342,2,2,0,0,2,0,0,0,0,0,0,5,0,0,2,0,2
28,2288,1,2,2,2,2,2,4,0,0,1,0,7,2,1,3,1,2
29,1899,1,1,1,1,1,1,10,3,1,2,1,2,0,0,1,0,1

In [5]:
data.describe()

,gameDuration,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_towerKills,t1_inhibitorKills,t1_baronKills,t1_dragonKills,t1_riftHeraldKills,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,winner
count,50286.000000,50286.000000,50286.000000,50286.000000,50286.000000,50286.000000,50286.000000,50286.000000,50286.000000,50286.000000,50286.000000,50286.000000,50286.000000,50286.000000,50286.000000,50286.000000,50286.000000,50286.000000
mean,1871.386032,1.487233,1.485125,1.339578,0.948693,1.477270,0.749195,5.835163,1.041781,0.381200,1.420356,0.257487,5.681999,1.008611,0.424472,1.437975,0.245854,1.493776
std,450.876052,0.499842,0.500499,0.652960,0.838988,0.530346,0.824393,3.740575,1.269064,0.588001,1.201740,0.437254,3.809336,1.261867,0.617672,1.219412,0.430597,0.499966
min,610.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1554.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,1846.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000,1.000000,0.000000,1.000000,0.000000,6.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,2156.750000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,9.000000,2.000000,1.000000,2.000000,1.000000,9.000000,2.000000,1.000000,2.000000,0.000000,2.000000
max,4728.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,11.000000,10.000000,5.000000,6.000000,1.000000,11.000000,10.000000,4.000000,6.000000,1.000000,2.000000

In [7]:
from sklearn.model_selection import train_test_split 
N=len(data)
cTrain=int(N*0.8) # 80% para entrenar y 20% para probar
cTest=N-cTrain
print(N,cTrain,cTest)
train_data,test_data= sklearn.model_selection.train_test_split(data, train_size=cTrain, test_size=cTest)

50286 40228 10058

In [8]:
train_data.shape

(40228, 18)

In [9]:
train_data.head()

,gameDuration,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_towerKills,t1_inhibitorKills,t1_baronKills,t1_dragonKills,t1_riftHeraldKills,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,winner
7861,2248,1,1,2,2,2,1,6,0,0,0,1,9,2,1,3,0,2
38463,1563,2,1,1,0,0,0,9,2,0,0,0,0,0,0,0,0,1
29195,2303,1,2,1,0,2,0,10,2,0,1,0,6,0,0,3,0,1
40898,1934,2,2,1,1,2,0,6,1,1,2,0,2,0,0,1,0,1
44426,2362,2,2,2,2,2,0,2,0,0,0,0,10,2,2,5,0,2